header {
 
    .menu-section {
        width: 100vw;
        border-bottom: 1px solid #e6e6e6;
    }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            padding: 15px 0;
     
           li {
            float: left;
            margin-left: 75px;
    
              a {   
                display: block;
                color: #353535;
                text-align: center;
                text-decoration: none;
              }
           }
         }
 
     
  } 