:root {
    --black: #1c1c1c;
    --blackPanel: #282828;
    --whitePanel: #FFF;
    --white: #F7F7F7;
    --green: #336b55;
    --greenHover: #214235;
  }
  
  body.light {
    --background-color: var(--white);
    --background-color-panel: var(--whitePanel);
    --text-color: var(--black);
    --font-weight: 400;
    --btnColors: var(--green);
    --btnHover: var(--greenHover);
  }
  
  body.dark {
    --background-color: var(--black);
    --background-color-panel: var(--blackPanel);
    --text-color: var(--white);
    --font-weight: 500;
    --btnColors: var(--green);
    --btnHover: var(--greenHover);
  }
h1 {
    text-align: center;
    margin-top: 25px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.grid .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 50px 20px;
    width: 300px;
    background: var(--background-color-panel);
}

.grid .card .content > h3 {
    margin-bottom: 10px;
}

.grid .card .content .description p {
    margin: 5px 0;
}

.Home {
    height: 100vh;
    width: 100%;
}

.Home .content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-color-panel);
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    padding: 100px;
    border-radius: 15px;
}

.Home .content h2 {
    margin-bottom: 50px;
}

.Home .content a {
    color: white;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background-color: var(--btnColors);
    padding: 10px 20px;
    margin: 0 20px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    text-decoration: none;
}

.Home .content a:hover {
    color: white !important;
    background: var(--btnHover);
    text-shadow: none;
}